
<!DOCTYPE html>
<html>
  <head>
    <style>
		table, th, td {
		  border: 1px solid black;
		}
		</style>
    <title>About Me</title>
  </head>
  <body>
    <h1>Ruiz Diaz, Matthew</h1>
    <p>I was born in Florida. I am a tennis player. I am studying computer science so that I can make software.</p>
    <h2>MyProfessional Profile</h2>
    <a href="https://github.com/MatthewRuizDiaz">Link to my GitHub</a>
    <br>
    <img src="../img./myself.jpg" alt="A picture of Matthew Ruiz Diaz" height="500px" width="500px">
    <br>
    <h3>My Favorite Projects</h3>
    <table>
        <tr>
            <th>Name of the Project</th><th>Technologies Used</th>
        </tr>
        <tr>
            <td>Pokemon Game</td><td>C++</td>
        </tr>
        <tr>
            <td>Second Project</td><td>Second Technology</td>
        </tr>
        <tr>
            <td>Third Project</td><td>Third Technology</td>
        </tr>
    </table>
    <br>
    <h3>My Interests</h3>
    <ul>
        <li>
            I am interested in Photography
        </li>
        <li>
            I am interested in Sports
        </li>
        <li>
            I am interested in Software Development
        </li>
    </ul>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
